.mark {
    position: absolute;
    border: #1c1f33 solid 1px;
    background-color: #777777;
    border-radius: 50%;
    /*margin-top: -5px;*/
    /*margin-left: -5px;*/
    opacity: 0.9;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*z-index: 2;*/
    top: 50px;
    left: 0;
}

.mark1 {
    background-color: #6666ff;
    opacity: 1;
}

.mark2 {
    background-color: #66d7bb;
    opacity: 1;
}

.parent {
    position: relative;
}